:root{
  --black: #1B1D1F;
  --white: #FAFAFA;
  --colorprimary: #282B30;
  --colorsecondary: #6C727F;
  --coloraccent: #4E80EE;
  --neutral: #D2D5DA;
  --ff: "Be Vietnam Pro", sans-serif;
  --h1: bold 54px/64px var(--ff);
  --h2: bold 36px/36px var(--ff);
  --h3: bold 24px/30px var(--ff);
  --links: bold 18px/18px var(--ff);
  --p: 18px/30px var(--ff);
  --subtext: 12px/20px var(--ff);
  --transition: 0.3s ease-in-out;
  --shadow: inset 0 0 2px var(--colorsecondary);
  --shadowdark: #000000030 0px 5px 10px 5px;

  --step-1: clamp(1.625rem, 1.4946rem + 0.6522vi, 2rem);
  --step-0: clamp(0.875rem, 0.8315rem + 0.2174vi, 1rem);
  --step--1: clamp(0.75rem, 0.7065rem + 0.2174vi, 0.875rem);
  --step--2: clamp(0.625rem, 0.5815rem + 0.2174vi, 0.75rem);

  --radius: 12px;
  --radius-sm: 7px;
  --radius-xs: 4px;


}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
  font: inherit;
}
body{
  font-size: var(--p);
  font-family: var(--ff);
  min-height: 100vh;
  background-color: var(--black);
}
img, picture, svg, video{
  display: block;
  max-width: 100%;
}
input, textarea, button, select{
  font: inherit;
}
h1{
  font: var(--h1);
  margin-block: 1rem;
}
h2{
  font: var(--h2);
  margin-block: .7rem;
}
h3{
  font: var(--h3);
  margin-block: .5rem;  
}
:is(h1, h2, h3){
  text-wrap: balance;
}
p{
  font: var(--p);
  margin-bottom: .5rem;
  text-wrap: balance;
}
/* Utilidades */
.links{
  font: var(--links);
  margin-top: 8px;
}
.subtext{
  font: var(--subtext);
  margin-top: -8px;
}
.container{
  width: min(90%, 120rem);
  margin-inline: auto;
}
.grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(min(400px, 100%), 1fr));
}
/* Header styles */
.header{
  height: min(40dvh, 250px);
  background-color: var(--black);
  display: grid;
  place-items: center;
}
.header--bg{
  background-image: url('./assets/hero-image-wr.jpg');
  background-size: cover;
  background-position: center center;
}
/* Pages styles */
.page{
  border-radius: var(--radius);
  background-color: var(--black);
  min-height: 100dvh;
  box-shadow: var(--shadow);
  padding: min(3vw, 2rem);
  color: var(--colorsecondary);
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header header"
    "aside aside"
    "main main"
  ;
  gap: 2rem;
}
@media (min-width: 1024px){ 
  .page{
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
      "header header"
      "aside main"
    ;
  }
}
.page--out{
  margin-top: -50px;
}
.page__header{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(500px, 100%), 1fr));
  row-gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-area: header;
}
@media (min-width: 680px){ 
  .page__header{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px){ 
  .page__header{
    grid-template-columns: 2fr 1fr;
  }
}
.page :is(label){
  display: block;
  font-size: var(--step--1);
  padding-bottom: .425rem;
}
.page__aside{
  display: grid;
  row-gap: 2rem;
  grid-area: aside;
}
.page__aside :is(select){
  border: none;
  background-color: var(--black);
  padding: .725rem .825rem;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  width: 100%;
  color: var(--neutral);
}
.page__aside :is(select:focus){
  outline: 1px solid var(--colorsecondary);
}
.page__main{
  grid-area: main;
}
/* Search component */
.search{
  flex-grow: 1;
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: .5rem;
  border-radius: var(--radius);
  background-color: var(--colorprimary);
  overflow: hidden;
}
.search :is(input[type="search"]){
  all: unset;
  color: var(--neutral);
}
/* Table styles */
table{
  width: 100%;
  border-collapse: collapse;
}
table thead{
  position: sticky;
  top: 0;
  background-color: var(--black);
}
table thead th{
  padding-bottom: 1rem;
  padding-right: 2rem;
  border-bottom: 1px solid var(--colorsecondary);
  text-align: left;
  font-size: var(--step--1);
}
table td{
  padding-block: .725rem;
  color: var(--neutral);
  font-weight: 500;
}
table td :is(.flag){
  max-width: 50px;
  border-radius: var(--radius-xs);
}
/* Regions styles */
.regions{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
.regions__option{
  position: relative;
  background-color: var(--black);
  border-radius: var(--radius);
  display: grid;
  place-items: center;
  padding: .5rem;
  font-weight: 600;
}
.regions__option :is(input){
  position: absolute;
  inset: 0;
  opacity: 0;
}
.regions__option:has(input:checked){
  background-color: var(--colorprimary);
  color: var(--neutral);
}
.regions__option :is(label){
  padding-bottom: 0;
}